@import "variables";
@import "mixins";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Courgette');

@import 'mods-bootstrap';
@import 'mods-datatable';
@import 'mods-misc';

// Bg
.bg-lt-dark {
	background-color: $lt-color-darker2;
}
// Jumbotron
.jumbotron {
	border: 2px solid $lt-color-darker;
	margin-top: 15px;
	box-shadow: 4px 4px 2px rgba(0,0,0,0.2);
}

//Overflow
.overflow {
	&-auto {
		overflow: auto;
	}

	&-none, &-hidden {
		overflow: hidden;
	}
}

// User Icon
$circle-diameter: 40px;
$circle-font-size: 16px;
.dropdown-with-icon {
	padding-top: 0;
	padding-bottom: 0;
}
.user-icon-circle {
	border-radius: 50%;
	height: $circle-diameter;
	width: $circle-diameter;
	text-align: center;
	display: inline-block;
	line-height: $circle-diameter;
	font-size: $circle-font-size;
	margin-right: 0.75rem;
}

.lt-breadcrumb {
	.breadcrumb {
		background-color: $lt-breadcrumb-bg;
	}
	a, .breadcrumb, .breadcrumb-item::before {
		color: $lt-breadcrumb-color;
	}
	i.fa {
		margin-right: 0.4rem;
	}
	.breadcrumb-item + .breadcrumb-item::before {
		font-family: FontAwesome;
		content: '\f105';
	}
}

// Sticky Footer
html.html-footer-sticky {
	position: relative;
	min-height: 100%;
	body {
		margin-bottom: $footer-height;
		.footer-sticky {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: $footer-height;
			margin-bottom: 0;
		}
	}
}

.page-head-inverse {
	border-bottom: 4px solid $lt-color-darker;
}

.page-head-top {
	color: $gray-200;
	background-color: $body-bg;

	.page-logo {
		float: left;
	}

	.navbar-toggle {
		font-size: 18px;
		margin: 8px 3px 0 13px;
	}

	.top-menu {
		margin-top: 6px;
		//float: left;
		.UserName {
			font-family: 'Courgette', cursive;
		}

		.nav {
			> li {
				display: inline-block;
				> a {
					color: $gray-600;
					background-color: transparent;
					&:hover, &:focus, &:active {
						color: $gray-700;
					}
				}
			}
		}
	}
}

.page-head-menu {
	.navbar {
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	.container {
		position: relative;
	}

	> .navbar-collapse {
		padding: 0;
	}
}

.logo-lt {
	margin: 4px 0;
	max-height: 46px;
}

// Footer
.footer {
	height: $footer-height;
	border-top: 1px solid #eee;
	padding-top: 0.8rem;
	font-size: 0.8rem;
}

.footer-inverse {
	color: $gray-200;
	border-top: none;
	background-color: $lt-color-darker;
	a {
		color: $lt-link-color-inverse;
		&:hover {
			color: $lt-link-hover-color-inverse;
		}
	}
}

// Dropdown Menu (see below for navbar related dropdown styles)
.dropdown {
	.dropdown-menu {
		box-shadow: $dropdown-box-shadow;
		> li {
			> a, > .dropdown-text {
				// padding: $navbar-padding-y $navbar-padding-x;
				[class^="icon-"], .fa {
					color: $link-color;
				}
			}
		}
		&.dropdown-menu-inverse {
			> li > a, .dropdown-text {
				[class^="icon-"], .fa {
					color: $lt-link-color-inverse;
				}
			}
		}
	}

	&.dropdown-bubble {
		> .nav-link {
			padding-right: 15px;
		}
		> .dropdown-menu {
			position: absolute;
			// float: left;
			//width:
			// margin-top: 2px;
			background-color: $dropdown-bg;
			// border: 1px solid $dropdown-fallback-border; // IE8 fallback
			border: $dropdown-border-width solid $dropdown-border-color;
			box-shadow: $dropdown-box-shadow;

			> li {
				> a {
					padding: $navbar-padding-y $navbar-padding-x;
					[class^="icon-"], .fa {
						color: $link-color;
					}
				}
			}

			&:before, &:after {
				position: absolute;
				display: inline-block;
				content: '';
			}
			&:before {
				top: -($dropdown-bubble-triangle-size + 1);
				left: $dropdown-bubble-triangle-move;
				right: auto;
				border-right: ($dropdown-bubble-triangle-size + 1) solid transparent;
				border-bottom: ($dropdown-bubble-triangle-size + 1) solid $dropdown-border-color;
				border-left: ($dropdown-bubble-triangle-size + 1) solid transparent;
			}
			&:after {
				top: -$dropdown-bubble-triangle-size;
				left: $dropdown-bubble-triangle-move + 1;
				right: auto;
				border-right: $dropdown-bubble-triangle-size solid transparent;
				border-bottom: $dropdown-bubble-triangle-size solid $dropdown-bg;
				border-left: $dropdown-bubble-triangle-size solid transparent;
			}
		}

		> .dropdown-menu-right {
			&:before {
				right: 9px;
				left: auto;
			}
			&:after {
				right: 10px;
				left: auto;
			}
		}

		.dropdown-menu-inverse {
			&:before {
				border-bottom-color: $dropdown-inverse-border;
			}
			&:after {
				border-bottom-color: $dropdown-inverse-bg;
			}
			> li {
				> a {
					[class^="icon-"], .fa {
						color: $lt-link-color-inverse;
					}
				}
			}
		}
	}

	&.dropdown-menu-inverse, .dropdown-menu-inverse {
		&.dropdown-menu, .dropdown-menu {
			color: $dropdown-inverse-color;
			background-color: $dropdown-inverse-bg;
			border-color: $dropdown-inverse-border;
			> li {
				> a {
					color: $dropdown-inverse-color;

					&:hover, &:focus {
						background-color: $dropdown-inverse-link-hover-bg;
					}
				}
			}
		}
	}
}

.dropdown-fade {
	@include dropdown-fade();
}


// Navbar
@include media-breakpoint-down(md) {
	.page-head-menu {
		.navbar {
			padding-left: 0;
			padding-right: 0;
			> .container {
				display: block;
				padding-right: 0;
				padding-left: 0;
				> .navbar-nav {
					// margin-right: -15px;
					// margin-left: -15px;
				}
			}
		}

		.navbar-nav {
			.dropdown .dropdown-menu > li {
				> a, > .dropdown-text {
					padding: 5px 15px 5px 20px;
				}
			}

			.nav-link {
				padding-right: 15px;
				padding-left: 15px;
				position: relative;
			}
		}
	}
}
// .navbar-nav > .nav-dropdown > .nav-link {
// 	font-size: 14px;
// 	line-height: 1.5;
// }

// Custom Nav Dropdown
.nav-dropdown {
	.nav-dropdown-menu {
		font-size: 14px;
	}

	.nav-link {
		font-size: 14px;
		line-height: 1.5;
	}

	.nav-dropdown-menu, .nav-dropdown-submenu {
		display: none;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		> li {
			padding: 0;
			> a, .nav-dropdown-subhead {
				text-decoration: none;
				display: block;
				padding: $navbar-padding;	//5px 15px 5px 20px;
			}
			.nav-dropdown-subhead {
				font-weight: bold;
				font-size: 0.9em;
				position: relative;
				&::after {
					font-family: "FontAwesome";
					content: "\f0d7";
					display: inline-block;
					transition: all 0.2s;
				}
			}
			.nav-dropdown-submenu {
				margin-left: 24px;
				margin-bottom: 8px;
				border-left: 2px solid #CCC;
			}
		}
	}

	> a::after {
		font-family: "FontAwesome";
		content: "\f107";
		top: 0;
		right: 0;
		z-index: 1;
		padding: 10px 0 10px 8px;
	}

	@include media-breakpoint-down(md) {
		> a::after {
			position: absolute;
			padding: 10px 15px;
			transform: rotate(90deg);
			transition: all 0.2s;
		}

		&.menu-open {
			> a::after {
				transform: rotate(0deg);
			}
			> .nav-dropdown-menu {
				display: block;
				> li {
					margin: 0 15px;
				}
			}
		}
		.nav-dropdown-sub {
			> .nav-dropdown-subhead {
				// > .caret {
				// 	transition: all 0.2s;
				// 	transform: rotate(-90deg);
				// }
				&::after {
					transform: rotate(-90deg);
				}
			}
		}
		.nav-dropdown-sub.menu-open{
			> .nav-dropdown-subhead {
				// > .caret {
				// 	transform: rotate(0deg);
				// }
				&::after {
					transform: rotate(0deg);
				}
			}
			> .nav-dropdown-submenu {
				display: block;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		.nav > & { // changed &
			position: static;
		}
		ul {
			> li {
				> a {
					padding: $navbar-padding-md;
				}
			}
		}

		.nav-dropdown-menu, .nav-dropdown-submenu {
			display: block;
		}
		.nav-dropdown-menu {
			visibility:hidden;
			opacity: 0;
			position: absolute;
			z-index: -1;//$zindex-dropdown;
			padding: 8px;
			border: solid 1px $dropdown-border;
			box-shadow: $box-shadow;
			transition: all ease-in-out 0.2s;

			&.nav-dropdown-menu-full { // changed &
				left: 15px;
				right: 15px;
			}

			.nav-dropdown-1-col { min-width: 250px; }
			.nav-dropdown-2-col { min-width: 500px; }
			.nav-dropdown-3-col { min-width: 750px; }

			ul {
				li {
					a, .nav-dropdown-subhead {
						padding: $navbar-padding-md;
					}
				}
			}
		}

		&:hover {
			.nav-dropdown-menu {
				display:block;
				visibility: visible;
				opacity: 1;
				z-index: $zindex-dropdown;
			}
		}

		li.nav-dropdown-sub {
			.nav-dropdown-subhead, a.nav-dropdown-subhead {
				background-color: transparent;
				cursor: default;
			}
		}
	}
}


.navbar-light {
	li.nav-dropdown-sub {
		.nav-dropdown-subhead, a.nav-dropdown-subhead {
			color: darken($navbar-light-color, 20%);
		}
	}

	.nav-dropdown {
		&:hover {
			> a {
				color: $navbar-light-hover-color;
				background-color: #EEE;//$navbar-light;
			}
		}

		@include media-breakpoint-down(md) {
			border-bottom: 1px solid darken(#f8f8f8, 6.5%);
			&:last {
				border-bottom: none;
			}
		}
	}

	.nav-dropdown-menu {
		background-color: mix($dropdown-default-bg, #fff, 90%);
		border-color: $dropdown-default-border;
		a {
			color: $navbar-light-color;
			[class^="icon-"], .fa {
				color: $lt-link-color-default;
			}
			&:hover {
				color: $navbar-light-hover-color;
				background-color: #EEE; // $navbar-default-link-active-bg;
				[class^="icon-"], .fa {
					color: darken($lt-link-color-default, 10%);
				}
			}
		}
	}
}

.navbar-dark {
	.open, .show {
		.dropdown-menu {
			> li {
				> a, > .dropdown-text {
					@include media-breakpoint-down(md) {
						color: $navbar-dark-color;
					}
				}
			}
		}
	}
	li.nav-dropdown-sub {
		.nav-dropdown-subhead, a.nav-dropdown-subhead {
			color: darken($navbar-dark-color, 20%);
		}
	}

	.nav-dropdown {
		&:hover {
			> a {
				color: $navbar-dark-hover-color;
				background-color: $navbar-inverse-link-hover-bg;
			}
		}

		@include media-breakpoint-down(md) {
			border-bottom: 1px solid darken($navbar-inverse-border, 5%);
			&:last {
				border-bottom: none;
			}
		}
	}

	.nav-dropdown-menu {
		background-color: mix($dropdown-inverse-bg, #999, 90%);
		border-color: $dropdown-inverse-border;
		a {
			color: $navbar-dark-color;
			[class^="icon-"], .fa {
				color: darken($lt-link-color-inverse, 10%);
			}
			&:hover {
				color: $navbar-dark-hover-color;
				background-color: $navbar-inverse-link-active-bg;//#EEE;
				[class^="icon-"], .fa {
					color: $lt-link-color-inverse;
				}
			}
		}
	}
}

// Simple Icon
.si-pad {
	[class*=" icon-"], [class^="icon-"], .fa {
		@include simple-icon-pad();
	}
}

// Loading Section
.loading-section-wrapper {
	position: relative;
}
.loading-section {
	position: absolute;
	top:0;
	left: 0;
	z-index: 10;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}
.loading-section-text {
	display: inline-block;
	background-color: #ffffff;
	border: 2px solid #000;
	/*position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);*/
	padding: 50px;
}

// Other
.pre-code {
	white-space: pre-wrap;
}

.navbar .UserName {
	font-size:140%;
	font-family: 'Courgette', cursive;
}

// limits resizing of <textarea>
.resize {
	&-none {
		resize: none;
	}
	&-vertical {
		resize: vertical;
	}
	&-horizontal {
		resize: horizontal;
	}
}

.under-construction {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.5;
}

//Modal

// Simple spinner
.spinner-color {
	color: $spinner-color;
}


.modal-header-alert {
	&.alert {
		margin-bottom: 0;
		border-bottom-radius: 0;
	}
}

// Angular
.ng-hide {
	opacity: 0;
}

.animate-ng-hide {
	opacity: 1;
	&.ng-hide {
		opacity: 0;
	}
	transition: all ease-in-out 0.2s;
}


// Modal Processing spinner
.modal-processing {
	padding: 20px 10px;
	margin-bottom:100px;
	background-color: #FFFFFF;
	border: 2px solid #000000;
	h3 {
		margin: 5px 0;
		font-size: $font-size-h4
	}
	img {
		width: 64px;
		padding-right:20px;
	}
}

// Thumbnail Link
.lt-letter-circle {
	width: $letter-circle-size;
	height: $letter-circle-size;
	line-height: $letter-circle-size - (2*$letter-circle-border-size);
	font-size: 30px;
	display: inline-block;
	border-radius: 50%;
	color: #FFFFFF;
	background-color: $lt-color-lighter;
	border: $letter-circle-border-size solid #FFFFFF;
	text-align: center;
	margin: $letter-circle-margin-y $letter-circle-margin-x;

	&.center {
		margin: $letter-circle-margin-y auto;
	}
}
a.lt-thumbnail-link, a.lt-card-link {
	height: 150px;
	padding-top: 16px;
	color: #fff; //#333333;
	background-color: $lt-color-lighter2; //#EEE;//lighten($lt-color, 65%);
	border-color: transparent;
	text-shadow: 1px 1px 1px #555;
	transition: all ease-in-out 0.2s, border ease-in 0.3s;

	&:hover {
		text-decoration: none;
		background-color: $thumbnail-hover-bg; //$lt-color-lighter2;//#244181;
		color: #333; //#FFFFFF;
		border-color: $lt-color;
		h3 {
			text-shadow: none;
		}

		.lt-letter-circle {
			border-color: $thumbnail-hover-bg;
		}
	}
}
.lt-thumbnail-group-mod4color {
	 > :nth-child(4n+1) {
		.lt-thumbnail-link {
			background-color: $lt-bg-1;
		}
	}
	 > :nth-child(4n+2) {
		.lt-thumbnail-link {
			background-color: $lt-bg-2;
		}
	}
	 > :nth-child(4n+3) {
		.lt-thumbnail-link {
			background-color: $lt-bg-3;
		}
	}
	 > :nth-child(4n+4) {
		.lt-thumbnail-link {
			background-color: $lt-bg-4;
		}
	}
	 .lt-thumbnail-link:hover {
		 background-color: $thumbnail-hover-bg;
	 }
}

// Site Help
.site-help-breadcrumb {
	font-size: 1.6em;
	margin: 6px 6px 0 0;
}

.site-help-popover {
	.popover {
		min-width: 200px;
	}
}

.form-horizontal {
	.form-control {
		+ .site-help-question {
			position: absolute;
			top: 10px;
			right: 0;
		}
	}

	.ui-select-bootstrap {
		.site-help-question {
			position:absolute;
			top: 10px;
			right: -15px;
		}
	}

	.form-group-sm {
		.form-control {
			+ .site-help-question {
				top: 8px;
			}
		}
		.ui-select-bootstrap {
			.site-help-question {
				top: 8px;
			}
		}
	}
	.form-group-lg {
		.form-control {
			+ .site-help-question {
				top: 16px;
				font-size: 16px;
			}
		}
		.ui-select-bootstrap {
			.site-help-question {
				top: 16px;
				font-size: 16px;
			}
		}
	}
}

// Collapse Chevron
.collapse-chevron {
	transition: all 0.2s;
	display: inline-block;
	&::before {
		font-family: "FontAwesome";
		content: "\f078";
	}
}
.collapsed {
	.collapse-chevron {
		transform: rotate(-90deg);
	}
}

// LARGER THAN MOBILE
@include media-breakpoint-up(lg) {
	// Page Head
	.page-head {
		border-bottom: none;
	}

	body.page-head-top-fixed {
		.LoanTekAdminBar {
			position: fixed;
			top: 0;
			opacity: 0.9;
		}
		.page-head {
			margin-top: $page-head-sm-top-height;
			> .page-head-top {
				border-bottom: 1px solid $lt-color-darker;
				position: fixed;
				width: 100%;
				top: 0;
				left: 0;
				z-index: 2;
			}
			> .page-head-menu {
				z-index: 1;
			}
		}
	}

	.page-head-menu {
		.navbar-collapse {
			display: block !important;
		}
	}

	.navbar-nav > .nav-dropdown > .nav-link {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.page-head-top {
		min-height: $page-head-sm-top-height;

		.page-logo {
			min-height: $page-head-sm-top-height;
		}

		.top-menu {
			margin-top: 13px;
			.UserName {
				font-size: 140%;
			}
		}

		.logo-lt {
			//margin: 4px 0;
			max-height: 66px;
		}
	}

	.page-head-menu-fixed {
		.page-head {
			height: 126px;
			> .menu-fixed {
				width: 100%;
				top: 0;
				left: 0;
				position: fixed;
				z-index: $zindex-dropdown;
				.navbar {
					min-height: 30px;
				}
				.navbar-nav {
					> li {
						> a {
							padding-top: 5px;
							padding-bottom: 5px;
						}
					}
				}
			}
		}
	}

	// User Icon
	$circle-diameter-d: 50px;
	$circle-font-size-d: 20px;
	.user-icon-circle {
		height: $circle-diameter-d;
		width: $circle-diameter-d;
		line-height: $circle-diameter-d;
		font-size: $circle-font-size-d;
	}


	// Dropdown
	.dropdown-sm-fade {
		@include dropdown-fade();
	}

	.dropdown-hover-to-open {
		&.dropdown:hover, .dropdown:hover {
			> .dropdown-menu {
				display: block;
			}
		}
		&.dropdown-fade, .dropdown-fade, &.dropdown-sm-fade, .dropdown-sm-fade {
			&.dropdown, .dropdown {
				&:hover {
					> .dropdown-menu {
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}
	}

	// Footer
	.footer {
		padding-top: 1em;
		font-size: 1em;
	}

	// Modal Processing spinner
	.modal-processing {
		padding: 40px;
		h3 {
			font-size: $font-size-h3;
		}
	}

	// Page Title
	.float-right-of-title {
		float: right;
		margin-top: -36px;
	}
}

// Backgrounds
.lt-bg-1 { background-color: $lt-bg-1; color: $lt-bg-font-color; }
.lt-bg-2 { background-color: $lt-bg-2; color: $lt-bg-font-color; }
.lt-bg-3 { background-color: $lt-bg-3; color: $lt-bg-font-color; }
.lt-bg-4 { background-color: $lt-bg-4; color: $lt-bg-font-color; }
