@{
	var user = new {
		UserId = 1
		, ActiveAUser = new {
			FullName = "Joe Bell"
		}
	};
}
@if (user?.UserId > 0) {
	<div class="top-menu pull-right">
		<ul class="nav navbar-nav pull-rightZ">
			<li role="presentation" class="dropdown User dropdown-bubble dropdown-fade">
				<a class="nav-link dropdown-toggle dropdown-with-icon" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					<span class="user-icon-circle lt-bg-1"><i class="icon-user"></i></span>
					<span class="UserName"><span class="hidden-xs d-none d-sm-inline">@user.ActiveAUser.FullName</span>  <span class="caret"></span></span>
				</a>
				<ul class="dropdown-menu dropdown-menu-inverse si-pad dropdown-menu-right">
					<li><a class="dropdown-item" href="javascript:;"><i class="icon-user"></i> Account</a></li>
					<li><a class="dropdown-item" href="javascript:;"><i class="icon-support"></i> Support</a></li>
					<li><a class="dropdown-item" href="javascript:;"><i class="icon-refresh"></i> Reload Settings</a></li>
					<li><a class="dropdown-item" href="javascript:;"><i class="icon-logout"></i> Sign Off</a></li>
				</ul>
			</li>
		</ul>
	</div>
} else {
	<div class="top-menu pull-right">
		<ul class="nav navbar-nav pull-right">
			<li class="nav-item"><a class="nav-link" href="javascript:;">Sales &amp; Support</a></li>
			<li class="nav-item"><a class="nav-link" href="javascript:;">Log in</a></li>
		</ul>
	</div>
}
