@{
	ViewData["Title"] = "Client Home";
}
<style>
	.home { margin-bottom: 20px; }
	.home ul.nav li { border: 1px solid #d4dbea; }
	.home ul.nav li a { color: #222; padding:10px; }
</style>
<div class="home">

	<div class="jumbotron">
		<h2 class="m-t-0"><strong>The <em>new</em> Client Web Site</strong></h2>
		<p class="lead">
			This is the new website for LoanTek Clients. As we add new features and update the various parts and pages in the current LoanTek Clients
			web site, the new changes will become available here. So you may jump back and forth between the two websites depending on if you are accessing a
			new page or new feature but moving between the two should be seamless.
			You can use the 'Websites' menu at the top to manually navigate back to Clients.LoanTek.com.
		</p>
		<p><a href="https://clients.loantek.com" class="btn btn-success btn-lg">Return to Clients.LoanTek.com &raquo;</a></p>
	</div>


	<div class="row">
		<div class="col-md-4 mb-md-4">
			<h2 id="QuotingTitle">Quoting</h2>
			<p>
				All things involving Quoting and Pricing can be found here. Our flagship LoanPricer&reg; product will be located here once it has been
				rebuilt. Other new or key products that are or will be available in here include: Stats and data analytics for quoting,
				a brand new customizable Widget builder, links to our Pricing APIs, and more!
			</p>
			@* <ul class="nav navbar-nav dropdown-hover-to-open si-pad dropdown-sm-fade">
				@Html.Partial("~/Views/Shared/Menus/_Quoting.cshtml")
			</ul> *@
			<div class="dropdown si-pad">
				<a href="#" class="dropdown-toggle btn btn-default btn-outline-secondary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quoting <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="javascript:;" class="dropdown-item"> <i class="fa fa-quote-right"></i>  Quoting Home</a></li>
					<li><a href="javascript:;" class="dropdown-item"> <i class="fa fa-line-chart"></i>  Reporting</a></li>
					<li><a href="javascript:;" class="dropdown-item"> <i class="fa fa-sliders"></i>  Preferences</a></li>
					<li><a href="javascript:;" class="dropdown-item"> <i class="fa fa-gears"></i>  Widgets</a></li>
					<li><a href="javascript:;" class="dropdown-item"> <i class="fa fa-external-link"></i>  API(s)</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<h2 id="CrmTitle">CRM</h2>
			<p>A new and improved Customer Relationship Management suite is currently under construction. As parts of it or new tools for it become available they will be located here. </p>
			<p>
				<div class="dropdown">
					<a href="#" class="dropdown-toggle btn btn-default btn-outline-secondary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CRM <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="javascript:;" class="dropdown-item">Bulk Importer</a></li>
						<li><a href="javascript:;" class="dropdown-item">Widgets</a></li>
					</ul>
				</div>
			</p>
		</div>
		<div class="col-md-4">
			<h2 id="ComingSoonTitle">Coming Soon</h2>
			<p>Major products such as the Lock Desk Manager, Contact manager, LoanTek Connect 2.0, Client &amp; User management, will be migrated here in the future.</p>
		</div>
	</div>

</div>
