<ng-template #RetrievingData>
	<i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Retrieving Data...
</ng-template>
<form *ngIf="client else RetrievingData" [formGroup]="scmClientInfoFG" (ngSubmit)="updateClientInfo()">
	<div *ngIf="loggedInUserInfo && loggedInUserInfo?.IsRole?.LoanTekAdmin">
		<!-- <h4>Client Info</h4> -->
		<div class="row">
			<label for="SalesRep_{{client.ClientId}}" class="col-lg-4 col-form-label text-lg-right">Sales Rep</label>
			<div class="col-lg-4 form-group">
				<!-- <select name="SalesRep_{{client.ClientId}}" id="SalesRep_{{client.ClientId}}" class="form-control" formControlName="SalesRep" *ngIf="reps else SalesRepName">
					<option value="">Unknown</option>
					<option *ngFor="let rep of reps" [value]="rep.UserId">{{rep.User}}</option>
				</select> -->
				<kendo-combobox id="SalesRep_{{client.ClientId}}" class="form-control" formControlName="SalesRep" *ngIf="reps else SalesRepName" [data]="reps" [textField]="'User'" [valueField]="'UserId'" [valuePrimitive]="true" [placeholder]="'Unknown'"></kendo-combobox>
				<ng-template #SalesRepName>
					<select class="form-control">
						<option value="">{{client.SalesRepName}}</option>
					</select>
				</ng-template>
			</div>
			<div class="col-lg form-group">
				<button class="btn btn-outline-secondary" type="button" (click)="updateSalesRep()" [class.btn-loading]="isSalesRepBtnDisabled" [disabled]="isSalesRepBtnDisabled">Save</button>
			</div>
		</div>
		<div class="row">
			<label for="CustomerServiceRep_{{client.ClientId}}" class="col-lg-4 col-form-label text-lg-right">Customer Service Rep</label>
			<div class="col-lg-4 form-group">
				<!-- <select name="CustomerServiceRep_{{client.ClientId}}" id="CustomerServiceRep_{{client.ClientId}}" class="form-control" formControlName="CustomerServiceRep" *ngIf="reps else CustomerServiceRepName">
					<option value="">Unknown</option>
					<option *ngFor="let rep of reps" [value]="rep.UserId">{{rep.User}}</option>
				</select> -->
				<kendo-combobox id="CustomerServiceRep_{{client.ClientId}}" class="form-control" formControlName="CustomerServiceRep" *ngIf="reps else CustomerServiceRepName" [data]="reps" [textField]="'User'" [valueField]="'UserId'" [valuePrimitive]="true" [placeholder]="'Unknown'"></kendo-combobox>
				<ng-template #CustomerServiceRepName>
					<select class="form-control">
						<option value="">{{client.CustomerServiceRepName}}</option>
					</select>
				</ng-template>
			</div>
			<div class="col-lg form-group">
				<button class="btn btn-outline-secondary" type="button" (click)="updateCustomerServiceRep()" [class.btn-loading]="isCustServeRepBtnDisabled" [disabled]="isCustServeRepBtnDisabled">Save</button>
			</div>
		</div>
		<hr />
	</div>
	<div class="row">
		<div class="col-lg">
			<h5>Company Information</h5>
			<div class="row form-group">
				<label for="Company_{{client.ClientId}}" class="col-md-4 col-form-label text-md-right">Company Name</label>
				<div class="col-md-8">
					<input id="Company_{{client.ClientId}}" type="text" class="form-control" placeholder="Company Name" formControlName="Company" [class.is-invalid]="isInvalidDirtyTouched(Company)" />
					<div class="invalid-feedback">*Company Name is required</div>
				</div>
			</div>
			<div class="row form-group">
				<label for="Address_{{client.ClientId}}" class="col-md-4 col-form-label text-md-right">Address</label>
				<div class="col-md-8">
					<input type="text" class="form-control" id="Address_{{client.ClientId}}" placeholder="Address" formControlName="Address" [class.is-invalid]="isInvalidDirtyTouched(Address)" />
					<div class="invalid-feedback">*Address is required</div>
				</div>
			</div>
			<div class="row form-group">
				<label for="City_{{client.ClientId}}" class="col-md-4 col-form-label text-md-right">City</label>
				<div class="col-md-8">
					<input type="text" class="form-control" id="City_{{client.ClientId}}" placeholder="City" formControlName="City" [class.is-invalid]="isInvalidDirtyTouched(City)" />
					<div class="invalid-feedback">*City is required</div>
				</div>
			</div>
			<div class="row form-group">
				<label for="State_{{client.ClientId}}" class="col-md-4 col-form-label text-md-right">State / Zip</label>
				<div class="col-md-8">
					<div class="form-row">
						<div class="col-8">
							<select *ngIf="states" class="form-control" id="State_{{client.ClientId}}" formControlName="State" [class.is-invalid]="isInvalidDirtyTouched(State)">
								<option class="disabled" value="" disabled="disabled">Select State...</option>
								<option *ngFor="let st of states" [value]="st.abbreviation">{{st.name}}</option>
							</select>
							<div class="invalid-feedback">*State is required</div>
						</div>
						<div class="col-4">
							<input type="text" class="form-control" id="Zip_{{client.ClientId}}" placeholder="Zip" formControlName="Zip" [class.is-invalid]="isInvalidDirtyTouched(Zip)" />
							<div class="invalid-feedback">*Zip is required</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row form-group">
				<label for="Url_{{client.ClientId}}" class="col-md-4 col-form-label text-md-right">Web Site</label>
				<div class="col-md-8"><input type="text" class="form-control" id="Url_{{client.ClientId}}" placeholder="Web Site" formControlName="Url" /></div>
			</div>
			<div class="row form-group">
				<label for="Phone_{{client.ClientId}}" class="col-md-4 col-form-label text-md-right">Phone</label>
				<div class="col-md-8"><input type="text" class="form-control" id="Phone_{{client.ClientId}}" placeholder="Phone" formControlName="Phone" /></div>
			</div>
			<div class="row form-group">
				<label for="Fax_{{client.ClientId}}" class="col-md-4 col-form-label text-md-right">Fax</label>
				<div class="col-md-8"><input type="text" class="form-control" id="Fax_{{client.ClientId}}" placeholder="Fax" formControlName="Fax" /></div>
			</div>
			<div class="row form-group">
				<label for="CompanyNmls_{{client.ClientId}}" class="col-md-4 col-form-label text-md-right">Company NMLS</label>
				<div class="col-md-8"><input type="text" class="form-control" id="CompanyNmls_{{client.ClientId}}" placeholder="Company NMLS" formControlName="CompanyNmls" /></div>
			</div>
		</div>
		<div class="col-lg">
			<h5>Primary Contact</h5>
			<div class="row form-group">
				<label for="Contact_{{client.ClientId}}" class="col-md-4 col-form-label text-md-right">Primary Contact</label>
				<div class="col-md-8">
					<div class="form-row" *ngIf="!showContactChange else ContactChange">
						<div class="col">
							<div class="form-control-plaintext">{{client.Contact}}</div>
						</div>
						<div class="col-auto ml-auto">
							<button class="btn btn-outline-secondary" type="button" (click)="displayContactChangeForm()">Change</button>
						</div>
					</div>
					<ng-template #ContactChange>
						<div class="card card-body bg-light" [formGroup]="changeContactFG">
							<div class="form-group">
								<select class="form-control" id="Contact_{{client.ClientId}}" name="Contact_{{client.ClientId}}" formControlName="NewContactUserId" (change)="contactChange()">
									<option class="disabled" value="" disabled="disabled">Select Primary Contact...</option>
									<option *ngFor="let clientUser of clientUsers" [value]="clientUser.UserId">{{clientUser.User}}</option>
								</select>
							</div>
							<div class="form-group" *ngIf="showRmAdminRoleCheckbox">
								<div class="checkbox checkbox-fa">
									<label>
										<input type="checkbox" formControlName="RemoveCurrentUserFromAdminRole" />
										<i class="checkbox-i"></i>
										Remove <strong>{{initialContact.User}}</strong> as Client Admin?
									</label>
								</div>
							</div>
							<div class="text-right">
								<button class="btn btn-success" type="button" (click)="updateContact($event)" [class.btn-loading]="isChangeContactBtnDisabled" [disabled]="isChangeContactBtnDisabled">Update Contact</button>
								<button class="btn btn-danger" type="button" (click)="hideContactChange()" [disabled]="isChangeContactBtnDisabled">Cancel</button>
							</div>
						</div>
					</ng-template>
				</div>
			</div>
			<div class="row form-group">
				<label for="Email_{{client.ClientId}}" class="col-md-4 col-form-label text-md-right">Email</label>
				<div class="col-md-8">
					<input type="email" class="form-control" id="Email_{{client.ClientId}}" placeholder="Email" formControlName="Email" [class.is-invalid]="isInvalidDirtyTouched(Email)" />
					<ng-container *ngIf="Email.errors">
						<div class="invalid-feedback" *ngIf="Email.errors.required">*Email is required</div>
						<div class="invalid-feedback" *ngIf="Email.errors.email && !Email.errors.required">*Please enter a valid email</div>
					</ng-container>
				</div>
			</div>
			<div class="row form-group">
				<label for="AltEmail_{{client.ClientId}}" class="col-md-4 col-form-label text-md-right">Alternate Email</label>
				<div class="col-md-8">
					<input type="email" class="form-control" id="AltEmail_{{client.ClientId}}" placeholder="Alternate Email" formControlName="Alternate_Email" [class.is-invalid]="isInvalidDirtyTouched(Alternate_Email)" />
					<div class="invalid-feedback" *ngIf="Alternate_Email.errors && Alternate_Email.errors.email">*Please enter a valid email</div>
				</div>
			</div>
			<div class="row form-group">
				<label for="LastEdit_{{client.ClientId}}" class="col-md-4 col-form-label text-md-right">Last Edit</label>
				<div class="col-md-8"><div class="form-control-plaintext">{{client.LastEdit | date:'M/d/yyyy h:mm a'}}</div></div>
			</div>
			<div class="row form-group">
				<label for="Created_{{client.ClientId}}" class="col-md-4 col-form-label text-md-right">Created</label>
				<div class="col-md-8"><div class="form-control-plaintext">{{client.Created | date:'M/d/yyyy h:mm a'}}</div></div>
			</div>
			<div class="row form-group">
				<label for="ClientId_{{client.ClientId}}" class="col-md-4 col-form-label text-md-right">Client ID</label>
				<div class="col-md-8"><div class="form-control-plaintext" id="ClientId_{{client.ClientId}}">{{client.ClientId}}</div></div>
			</div>
			<div class="row form-group">
				<label for="LicenseRenewaldate_{{client.ClientId}}" class="col-md-4 col-form-label text-md-right">License Renewal</label>
				<div class="col-md-8">
					<div class="form-row" *ngIf="!showRenewalDateChange else RenewalDateChange">
						<div class="col-auto">
							<div class="form-control-plaintext">{{client.LicenseRenewaldate | date:'shortDate'}}</div>
						</div>
						<div class="col-auto ml-auto" *ngIf="loggedInUserInfo && loggedInUserInfo?.IsRole?.LoanTekAdmin">
							<button class="btn btn-outline-secondary" type="button" (click)="displayRenewalDateChangeForm()">Change Date</button>
						</div>
					</div>
					<ng-template #RenewalDateChange>
						<div class="card card-body bg-light" [formGroup]="changeLicenseRenewalDateFG">
							<div class="form-group">
								<div class="input-group">
									<kendo-datepicker class="form-control" placeholder="License Renewal Date" (keydown.enter)="updateRenewalDate($event)" formControlName="LRDate"></kendo-datepicker>
									<!-- <input type="text" class="form-control" id="LicenseRenewaldate_{{client.ClientId}}" placeholder="License Renewal Date" bsDatepicker #dp="bsDatepicker" [bsConfig]="datePickerConfig" formControlName="LRDate" (keydown.enter)="updateRenewalDate($event)" [class.is-invalid]="isInvalidDirtyTouched(LRDate)" />
									<div class="input-group-btn">
										<button class="btn btn-outline-secondary" type="button" (click)="dp.toggle()"><span class="fa fa-calendar"></span></button>
									</div> -->
								</div>
							</div>
							<div class="form-group">
								<textarea class="form-control" name="LicenseRenewaldateReason_{{client.ClientId}}" id="LicenseRenewaldateReason_{{client.ClientId}}" rows="2" formControlName="LRReason" placeholder="Reason for changing the renewal date?" [class.is-invalid]="isInvalidDirtyTouched(LRReason)"></textarea>
							</div>
							<div class="text-right">
								<button class="btn btn-success" type="button" (click)="updateRenewalDate($event)" [class.btn-loading]="isLicenseRenewBtnDisabled" [disabled]="isLicenseRenewBtnDisabled">Update Renewal Date</button>
								<button class="btn btn-danger" type="button" (click)="hideRenewalDateChange()" [disabled]="isLicenseRenewBtnDisabled">Cancel</button>
							</div>
						</div>
					</ng-template>
				</div>
			</div>
			<div class="row form-group" [formGroup]="changeBillingFrequencyFG" *ngIf="loggedInUserInfo && loggedInUserInfo?.IsRole?.LoanTekAdmin">
				<label for="BillingFrequency_{{client.ClientId}}" class="col-md-4 col-form-label text-md-right">Billing Frequency</label>
				<div class="col-md-8">
					<div class="form-row">
						<div class="col">
							<select name="BillingFrequency_{{client.ClientId}}" id="BillingFrequency_{{client.ClientId}}" class="form-control" formControlName="NewBillingFrequency" *ngIf="billingFrequencyOptions else bfOptionTemp">
								<option *ngFor="let bo of billingFrequencyOptions" [value]="bo.Value">{{bo.Text}}</option>
							</select>
							<ng-template #bfOptionTemp>
								<select class="form-control">
									<option value=""></option>
								</select>
							</ng-template>
						</div>
						<div class="col-auto">
							<button class="btn btn-outline-secondary" type="button" (click)="updateBillingFrequency()" [class.btn-loading]="isBillFreqBtnDisabled" [disabled]="isBillFreqBtnDisabled">Update</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 offset-md-4">
					<div class="form-check checkbox-fa form-control-plaintext mb-0">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" id="NationalLender_{{client.ClientId}}" formControlName="NationalLender" />
							<i class="checkbox-i"></i>
							National Lender
						</label>
					</div>
				</div>
			</div>
			<div class="row" *ngIf="loggedInUserInfo && loggedInUserInfo?.IsRole?.LoanTekAdmin">
				<div class="col-md-8 offset-md-4">
					<div class="form-check checkbox-fa form-control-plaintext mb-0">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" id="BypassCreditCardPayment_{{client.ClientId}}" formControlName="BypassCreditCardPayment" />
							<i class="checkbox-i"></i>
							Bypass Credit Card Payment
						</label>
					</div>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-8 offset-md-4">
					<div class="form-check checkbox-fa form-control-plaintext mb-0">
						<label for="" class="form-check-label">
							<input type="checkbox" class="form-check-input" id="ResetDailyLeadQuota_{{client.ClientId}}" formControlName="ResetDailyLeadQuota" />
							<i class="checkbox-i"></i>
							Reset Daily Lead Quota
						</label>
					</div>
				</div>
			</div>
			<div class="row form-group" *ngIf="client.Status">
				<label for="Status_{{client.ClientId}}" class="col-md-4 col-form-label text-md-right">Status</label>
				<div class="col-md-8">
					<div class="form-control-plaintext">{{client.Status}}</div>
				</div>
			</div>
			<div class="row form-group">
				<label for="ChangeNotes_{{client.ClientId}}" class="col-md-4 col-form-label text-md-right">Change Notes</label>
				<div class="col-md-8">
					<textarea name="" id="ChangeNotes_{{client.ClientId}}" class="form-control" placeholder="Please enter notes about what is being updated" formControlName="ChangeNotes" [class.is-invalid]="isInvalidDirtyTouched(ChangeNotes)"></textarea>
					<div class="invalid-feedback">*Please enter notes about what is being updated<!-- , <em>especially</em> if you are changing the status of the client -->.</div>
				</div>
			</div>
			<!--

			.row.form-group>label.col-md-4.col-form-label.text-md-right[for=Address_{{client.ClientId}}]{Address}+.col-md-8>input.form-control[type=text id=Address_{{client.ClientId}} placeholder="Address" formControlName=Address]

			.row.form-group>label.col-md-4.col-form-label.text-md-right[for=NationalLender_{{client.ClientId}}]{NationalLender}+.col-md-8>.form-check.checkbox-fa.form-control-plaintext.mb-0>label.form-check-label>input.form-check-input[type=checkbox id=NationalLender_{{client.ClientId}} formControlName=NationalLender]+i.checkbox-i

			-->
		</div>
	</div>
	<div class="row">
		<div class="col text-right">
			<button class="btn btn-success" type="submit" [class.btn-loading]="isSaveBtnDisabled" [disabled]="isSaveBtnDisabled">Update Client Info</button>
		</div>
	</div>
</form>

<div class="table-responsive clientChangesTable mt-3">
	<table class="table table-sm table-striped small" *ngIf="clientChanges">
		<thead>
			<tr class="bg-secondary text-light">
				<th>Edited By</th>
				<th>Edited On</th>
				<th>What Changed</th>
				<th>Note</th>
			</tr>
		</thead>
		<tbody *ngIf="clientChanges.length else NoClientChanges">
			<tr *ngFor="let cc of clientChanges">
				<td>{{cc.EditByName}}</td>
				<td>{{cc.Edited | date:'short'}}</td>
				<td class="wrapClientChangeCell">{{cc.WhatChanged}}</td>
				<td class="wrapClientChangeCell">{{cc.Note}}</td>
			</tr>
		</tbody>
		<ng-template #NoClientChanges>
			<tbody>
				<tr>
					<td class="text-center" colspan="4">No entries</td>
				</tr>
			</tbody>
		</ng-template>
	</table>
</div>
