<ng-template #CreditCardsRetrievingData>
	<i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Retrieving Data...
</ng-template>
<div *ngIf="clientCreditCards else CreditCardsRetrievingData">
	<div *ngIf="!showEditCard else CreditCardEdit">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6 mb-3" *ngFor="let aCard of activeCards">
				<div class="card bg-light h-100 credit-card-link" (click)="showUpdateCard(aCard)">
					<div class="card-header" [ngClass]="{'bg-success text-white text-bold': aCard.CardStatus.toLowerCase() === 'active'}">{{aCard.CardStatus}}</div>
					<div class="card-body">
						<div class="mb-2"><strong>{{clientService.cardNumberFormat(aCard.DecryptedNumber)}}</strong></div>
						<div class="small">Exp: {{aCard.ExpirationMonth}}/{{aCard.ExpirationYear}}</div>
						<div>{{aCard.FirstName}} {{aCard.LastName}}</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
				<div class="card bg-light h-100 credit-card-link" (click)="showUpdateCard(null)">
					<div class="card-body text-center text-muted">
						<div class="mt-3">
							<div class="mb-2">New Card</div>
							<i class="icon-plus fa-2x"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 mb-3" *ngFor="let iCard of inactiveCards">
				<div class="card bg-light h-100 credit-card-link" (click)="showUpdateCard(iCard)">
					<div class="card-body">
						<div class="mb-2"><span class="badge {{iCard.CardStatus.toLowerCase() === 'active' ? 'badge-success': 'badge-light'}}">{{iCard.CardStatus}}</span></div>
						<div class="mb-2"><strong>{{clientService.cardNumberFormat(iCard.DecryptedNumber)}}</strong></div>
						<div class="small">Exp: {{iCard.ExpirationMonth}}/{{iCard.ExpirationYear}}</div>
						<div>{{iCard.FirstName}} {{iCard.LastName}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ng-template #CreditCardEdit>
		<scm-creditcard-edit [creditcard]="currentCard" (updatecard)="updateCard($event)" (closecard)="closeCardEdit()"></scm-creditcard-edit>
	</ng-template>
</div>
